.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  height: 60px;
  margin-bottom: 10px;
}

.file-input-label {
  background-color: #61dafb;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  color: white;
}

.file-input-label:hover {
  background-color: #21a1f1;
}

.image-preview {
  max-width: 100%;
  height: auto;
}

.uploaded-image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

td:first-child {
  font-weight: bold;
}
